<html>
<head>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />

  </head>
<body>
  <h2>Welcome to the chatroom with id {{ values.gameid }}</h2>
<div id="chat"></div>
  <h3>Usernames</h3>
  <div id="otheruser"></div>
  <form id="chatform">
    <input type="text" id="message" name="message"></input>
  <input type="submit" />
  </form>

  
</body>
<script src="{{ url_for('static',filename='script.js') }}"></script>
<script>
    channel = new goog.appengine.Channel('{{ values.token }}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;
  </script>
</html>
